__pycache__/
*.py[cod]
*$py.class
venv/
.env

build/
dist/
*.egg-info/

*.pt
*.pth
*.bin
*.safetensors


wandb/
runs/
assets/
checkpoints/

*.log

.idea/
.vscode/
*.swp

.DS_Store
Thumbs.db

.ipynb_checkpoints/




.pytest_cache/